* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  position: relative;
  min-height: 100vh;
}
